

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f3f0;
  color: #000000;
}











.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}











.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;} /* or your desired color */

