.trainers-container {
    padding: 20px;
    text-align: center;
}

.trainers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
