/* WorkoutPage.css */

.workout-page {
  background-image: url('../assets/pic.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 10px;
}

.workout-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workout-form {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.workout-form input,
.workout-form select,
.workout-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.workout-form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.workout-form button:hover {
  background-color: #45a049;
}

.workout-list {
  margin-top: 20px;
}

.workout-list h2 {
  color: #333;
  margin-bottom: 10px;
}

.workout-list ul {
  list-style-type: none;
  padding: 0;
}

.workout-list li {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workout-list button {
  padding: 5px 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.workout-list button:hover {
  background-color: #007399;
}

.progress-container {
  margin-top: 20px;
}

.chart-container {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container h3 {
  color: #333;
  margin-bottom: 10px;
}
